<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.gtapc.ordering.mapper.OrderMapper">

    <sql id="baseColumn">
        to.id,
        to.temporary_order_ids temporaryOrderIds,
        to.total_price totalPrice,
        to.created_time createdTime,
        to.updated_time updatedTime,
        to.deleted,
        to.remark
    </sql>

    <!--查询没有被删除的数据-->
    <select id="select" resultType="cn.gtapc.ordering.entity.Order">
        SELECT
        <include refid="baseColumn"/>
        FROM _order to
        WHERE to.deleted = 0
    </select>

</mapper>