<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 配置 Spring 需要掃描哪些包下面的註解類，此處為 MyBatis Mapper 類和 Service 類 -->
    <context:component-scan
            base-package="cn.gtapc.ordering.mapper, cn.gtapc.ordering.service, cn.gtapc.util.common"/>

</beans>